<div class="timeline-tippy"
    data-tippy-sticky="true"
    data-tippy-interactive="true"
    data-tippy-content='<div>
        <b>Record {{current_id}}</b><br>
        <ul class="list-unstyled">
            {{#each values}}
                <li>{{this.name}}: {{this.value}}</li>
            {{/each}}
        </ul>
        <a class = "moreinfo" data-record-id="{{current_id}}">Read more</a> |
        <a href="/edit/{{current_id}}">Edit item</a>
    </div>'
    data-tippy-animation="scale"
    data-tippy-duration="0"
    data-tippy-followCursor="initial"
    data-tippy-arrow="true"
    data-tippy-delay="[200, 200]"
  >
  {{content}}
</div>
